
.home{
    color: white;
    margin-top:150px;
    text-align: center;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #ffa260, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);
button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: rgb(231, 172, 9);
    }
  }
@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 0deg)};
    }
  }

.line{
  border: 3px solid;
}

.color{
  margin-left: auto;
  margin-right: auto;
}



  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
  }
.btn{
    color: white;
    border:none;
    
}
.newBtn{
  color:#ee1414
}
